* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  
  font-family: 'Source code pro', serif;
  /*display: flex; 
  /*padding-bottom: 58px; */

}

.logo{
  height: 70px;
  padding-left:  40px;
  padding-right:  40px;
  background-color: #BBB;
}

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #6e708f;
}

nav{
/*  justify-content: center;*/
  
  height: 70px;
  background-color: #424558;
}

nav > ul{
  margin: 0px;
  padding: 0px;
  
}

nav > ul ::after{
  content: "";
  display: block;
  clear: both;
}

nav > ul > li{
  
  float: left;
  position: relative;
}

nav > ul > li > a{
  padding: 20px 30px;
  color: #FFF;
}

nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}

nav li{
  list-style-type: none;
}

.submenu{
  display: none;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;

}

.submenu li{
  border-bottom: 1px solid #CCC;
}
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: #222538;
  width: 270px;
}

.menu-html:hover{
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}
.menu-css:hover{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000, 112, 192, 0.15);
}
.menu-javascript:hover{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}
.menu-contact:hover{
  border-top: 5px solid #BBB;
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-html ,.submenu{
  background-color: RGBa(230, 100, 40);
}
.menu-css .submenu{
  background-color: RGBa(000, 160, 240);
}
.menu-javascript .submenu{
  background-color: RGB(250, 215, 100);
}

.submenu li:hover a{
  color: #EEE;
  font-weight: bold;
}

.menu-html .submenu li:hover{
  background-color: RGB(210, 77, 60);
}
.menu-css .submenu li:hover{
  background-color: RGB(000, 115, 200);
}
.menu-javascript .submenu li:hover{
  background-color: RGB(200, 165, 75);
}

