
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

	
.ol{
    
    list-style: none;
}
.olf {
	font-size: 0.5rem;
	height: 70%;
	color: white;
    width: 480px;
    list-style: none;
}
.olact {
    width: 300px;
    list-style: none;
}

ol li {
	width: 380px;
    font-size: 1rem;
    padding: 10px 5px;
    margin: 5px 8px;
    background: rgb(23, 23, 23);
    z-index: 5;
    position: relative;
    cursor: pointer;
    transition: all .4s;
}

ol li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: -1;
    transition: all .4s;
}
ol li:hover::before {
    width: 80%;
}

ol li:nth-child(1)::before {
    background: #4285f4;
}

ol li:nth-child(2)::before {
    background: #db4437;
}

ol li:nth-child(3)::before {
    background: #f4b400;
}

ol li:nth-child(4)::before {
    background: #0f9d58;
}

ol li:hover {
    transform: translateX(20px);
}